## Import necessary libraries

In [8]:
import sys
import os

# Set the working directory
sys.path.append(os.getcwd() + os.sep + ".." + os.sep + "..")

# Import the necessary libraries
import pycaret.classification as pc
import pandas as pd
import src.scripts.mapping_answers_dict as map_dict
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.utils.class_weight import compute_class_weight, compute_sample_weight
from math import sqrt

## Dataset loading

In [2]:
import re

# Load the merged dataset
dataset = pd.read_csv("../../data/processed/GYTS_dataset.csv")

ordinal_columns = ["SmokingFriends", "SeenSmokerInPublicPlace", "SeenSmokerInEnclosedPlace", "SeenSmokerInHome", "HarmfulPassiveSmoke", "HardQuitSmoke"]
dataset[ordinal_columns] = dataset[ordinal_columns].astype('category')

# Convert categorical columns
categorical_columns = ["State", "Gender", "Age", "AttractiveSmoker", "SmokerConfidentInCelebrations", "SchoolWarnings",
                       "SeenHealthWarnings", "AntiTobaccoInEvents"]
dataset[categorical_columns] = dataset[categorical_columns].astype('category')
# remove non letter, non number, non space characters from the categorical columns with regex

dataset[categorical_columns] = dataset[categorical_columns].applymap(lambda x: re.sub(r'[^\w\s\d]', '', x))


# Convert boolean columns
boolean_columns = ["Smoke", "SeenSmokerInSchool", "ParentWarnings", "AntiTobaccoInMedia",
                   "BanTobaccoOutdoors", "SmokingFather", "SmokingMother", "WorkingFather",
                   "WorkingMother"]
dataset[boolean_columns] = dataset[boolean_columns].astype('int')

# Comparing models

In [4]:
from sklearn.preprocessing import OneHotEncoder
# import sklearn.preprocessing as ce
import re

setup = pc.setup(data=dataset,
                 target='Smoke',
                 index=False,
                 train_size=0.8,
                 session_id=42,
                 categorical_features=categorical_columns,
                 ordinal_features={
                     "SmokingFriends": map_dict.OR46_dict.values(),
                     "SeenSmokerInPublicPlace": map_dict.CR21_dict.values(),
                     "SeenSmokerInEnclosedPlace": map_dict.CR20_dict.values(),
                     "SeenSmokerInHome": map_dict.CR19_dict.values(),
                     "HarmfulPassiveSmoke": map_dict.CR23_dict.values(),
                     "HardQuitSmoke": map_dict.CR41_dict.values(),
                 },
                 imputation_type=None,
                 normalize=False,
                 max_encoding_ohe=0,
                 encoding_method=OneHotEncoder(dtype=int, sparse_output=False),
                 n_jobs=10
                 )

# Compute the class weights

In [11]:

classes = dataset['Smoke'].unique()

class_weights = compute_class_weight(class_weight="balanced", classes=classes, y=pc.get_config("y_train_transformed"))
sqrt_weights = [sqrt(weight) for weight in class_weights]

class_weights = dict(zip(classes, class_weights))
sqrt_weights = dict(zip(classes, sqrt_weights))

print(class_weights)
print(sqrt_weights)

{1: 3.0440528634361232, 0: 0.5982683982683983}
{1: 1.7447214286057597, 0: 0.7734781175110246}

Find the best model within the class-weight supporting ones

In [12]:
#all_models = [ 'lr', 'knn', 'nb', 'dt', 'svm', 'ridge', 'rf', 'qda', 'ada', 'gbc', 'lda', 'et', 'xgboost', 'lightgbm', 'catboost'] #'rbfsvm', 'gpc', 'mlp'

# Models that support class weights
threshold_optimized_model =[ 'lr', 'dt', 'svm' , 'ridge', 'rf', 'et', 'lightgbm'] # 'rbfsvm'
models = {}
predicts = pd.DataFrame()

for model_name in threshold_optimized_model:
    try:
        model = pc.create_model(model_name, verbose=True, class_weight=sqrt_weights)
        models[model_name] = model
        pc.predict_model(model)
        predict = pc.pull()
        predicts = pd.concat([predicts, predict])
    except Exception as e:
        print(e)

# Sort the models by MCC
predicts = predicts.sort_values('Accuracy', ascending=False)

predicts

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC
0,Extra Trees Classifier,0.8830,0.8857,0.3700,0.8182,0.5096,0.4537,0.5000
0,Random Forest Classifier,0.8828,0.8873,0.3642,0.8239,0.5051,0.4497,0.4982
0,Light Gradient Boosting Machine,0.8789,0.8945,0.6520,0.6262,0.6388,0.5662,0.5663
0,Ridge Classifier,0.8623,0.7589,0.6050,0.5770,0.5907,0.5080,0.5082
0,Logistic Regression,0.8592,0.8751,0.6123,0.5658,0.5882,0.5034,0.5040
0,Decision Tree Classifier,0.8052,0.6527,0.4258,0.4102,0.4179,0.3009,0.3010
0,SVM - Linear Kernel,0.7239,0.7752,0.8517,0.3571,0.5033,0.3537,0.4178

Choosing best model

In [13]:
lgbm_model = models['lightgbm']
lgbm_tuned_model = pc.tune_model(lgbm_model, optimize='Accuracy', search_library='optuna', search_algorithm='tpe')
lgbm_ensemble_model = pc.ensemble_model(lgbm_tuned_model, method='Bagging', optimize='Accuracy')


print("Base LightGBM Model performance on test data")
pc.predict_model(lgbm_model)
print("Tuned LightGBM Model performance on test data")
pc.predict_model(lgbm_tuned_model)
print("Ensemble LightGBM Model performance on test data")
pc.predict_model(lgbm_ensemble_model)


et_model = models['et']
et_tuned_model = pc.tune_model(et_model, optimize='Accuracy', search_library='optuna', search_algorithm='tpe')
et_ensemble_model = pc.ensemble_model(et_tuned_model, method='Bagging', optimize='Accuracy')

print("Base Extra Trees Model performance on test data")
pc.predict_model(et_model)
print("Tuned Extra Trees Model performance on test data")
pc.predict_model(et_tuned_model)
print("Ensemble Extra Trees Model performance on test data")
pc.predict_model(et_ensemble_model)

rf_model = models['rf']
rf_tuned_model = pc.tune_model(rf_model, optimize='Accuracy', search_library='optuna', search_algorithm='tpe')
rf_ensemble_model = pc.ensemble_model(rf_tuned_model, method='Bagging', optimize='Accuracy', probability_threshold=0.35)

print("Base Random Forest Model performance on test data")
pc.predict_model(rf_model)
print("Tuned Random Forest Model performance on test data")
pc.predict_model(rf_tuned_model)
print("Ensemble Random Forest Model performance on test data")
pc.predict_model(rf_ensemble_model)


blended_model = pc.blend_models(estimator_list=[lgbm_ensemble_model, et_ensemble_model, rf_ensemble_model], optimize='Accuracy') 
print("Blended Model performance on test data")
pc.predict_model(blended_model)


# pc.plot_model(blended_model, plot='threshold')
pc.evaluate_model(blended_model)

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Base LightGBM Model performance on test data

Tuned LightGBM Model performance on test data

Ensemble LightGBM Model performance on test data

Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

Base Extra Trees Model performance on test data

Tuned Extra Trees Model performance on test data

Ensemble Extra Trees Model performance on test data

Base Random Forest Model performance on test data

Tuned Random Forest Model performance on test data

Ensemble Random Forest Model performance on test data

Blended Model performance on test data

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [23]:
pc.save_model(blended_model, "../../data/models/final_model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('ordinal_encoding',
                  TransformerWrapper(exclude=None,
                                     include=['Gender', 'SmokingFriends',
                                              'SeenSmokerInPublicPlace',
                                              'SeenSmokerInEnclosedPlace',
                                              'SeenSmokerInHome',
                                              'HarmfulPassiveSmoke',
                                              'HardQuitSmoke'],
                                     transformer=OrdinalEncoder(cols=['Gender',
                                                                      'SmokingFriends',
                                                                      'SeenSmokerInPublicPlace',
                                                                      'SeenSmokerInEnclosed...
                                                                                                   min_samples_split=10,
                                                                                                   min_weight_fraction_leaf=0.0,
                                                                                                   monotonic_cst=None,
                                                                                                   n_estimators=170,
                                                                                                   n_jobs=10,
                                                                                                   oob_score=False,
                                                                                                   random_state=42,
                                                                                                   verbose=0,
                                                                                                   warm_start=False),
                                                                  max_features=1.0,
                                                                  max_samples=1.0,
                                                                  n_estimators=10,
                                                                  n_jobs=None,
                                                                  oob_score=False,
                                                                  random_state=42,
                                                                  verbose=0,
                                                                  warm_start=False))],
                                   flatten_transform=True, n_jobs=10,
                                   verbose=False, voting='soft',
                                   weights=None))],
          verbose=False),
 '../../data/models/final_model.pkl')

In [ ]:
from typing import Any, Dict, Optional
from shap import sample
from explainerdashboard import ClassifierExplainer, ExplainerDashboard
from pycaret.utils.generic import get_label_encoder

def dashboard(
        estimator,
        display_format: str = "dash",
        dashboard_kwargs: Optional[Dict[str, Any]] = None,
        run_kwargs: Optional[Dict[str, Any]] = None,
        dump: bool = False,
        **kwargs,
    ):
        """
        This function generates the interactive dashboard for a trained model. The
        dashboard is implemented using ExplainerDashboard (explainerdashboard.readthedocs.io)


        Example
        -------
        >>> from pycaret.datasets import get_data
        >>> juice = get_data('juice')
        >>> from pycaret.classification import *
        >>> exp_name = setup(data = juice,  target = 'Purchase')
        >>> lr = create_model('lr')
        >>> dashboard(lr)


        estimator: scikit-learn compatible object
            Trained model object


        display_format: str, default = 'dash'
            Render mode for the dashboard. The default is set to ``dash`` which will
            render a dashboard in browser. There are four possible options:

            - 'dash' - displays the dashboard in browser
            - 'inline' - displays the dashboard in the jupyter notebook cell.
            - 'jupyterlab' - displays the dashboard in jupyterlab pane.
            - 'external' - displays the dashboard in a separate tab. (use in Colab)


        dashboard_kwargs: dict, default = {} (empty dict)
            Dictionary of arguments passed to the ``ExplainerDashboard`` class.


        run_kwargs: dict, default = {} (empty dict)
            Dictionary of arguments passed to the ``run`` method of ``ExplainerDashboard``.

        dump: bool, default = False
            When set to True, will dump the explainer object as a dill file in the
            current working directory.

        **kwargs:
            Additional keyword arguments to pass to the ``ClassifierExplainer`` or
            ``RegressionExplainer`` class.


        Returns:
            ExplainerDashboard
        """

        dashboard_kwargs = dashboard_kwargs or {}
        run_kwargs = run_kwargs or {}

        le = get_label_encoder(pc.get_config("pipeline"))
        if le:
            labels_ = list(le.classes_)
        else:
            labels_ = None

        seed = pc.get_config("seed")
        # Replacing chars which dash doesn't accept for column name `.` , `{`, `}`
        X_test_df = sample(pc.get_config('X_test_transformed').copy(), 1000, random_state=seed)
        X_test_df.columns = [
            col.replace(".", "__").replace("{", "__").replace("}", "__")
            for col in X_test_df.columns
        ]

   
        y_test_df = sample(pc.get_config('y_test_transformed').copy(), 1000, random_state=seed)
        
        onehotencoded = categorical_columns.copy()
        onehotencoded.remove("Gender")
        explainer = ClassifierExplainer(
            model=estimator, 
            X=X_test_df, 
            y=y_test_df, 
            labels=labels_, 
            n_jobs=10, 
            cats=onehotencoded,
            **kwargs,
        )
        if dump:
            explainer.dump('blended_model_explainer.dill')
        
        explainer_dashboard = ExplainerDashboard(
            explainer, mode=display_format, **dashboard_kwargs
        )
        explainer_dashboard.run(**run_kwargs)
        return explainer_dashboard

explainer_dashboard = dashboard(estimator=blended_model, display_format='external', shap='kernel', dashboard_kwargs={"port": 8100}, dump=True)

Exporting to yaml file the dashboard

In [22]:
explainer_dashboard.to_yaml("../../data/models/dashboard_config.yaml", dump_explainer=True, explainerfile="blended_model_explainer.dill")

Dumping configuration .yaml to c:\Users\miaob\Desktop\tobacco-analysis\src\notebooks\..\..\data\models\dashboard_config.yaml...
Dumping explainer to c:\Users\miaob\Desktop\tobacco-analysis\src\notebooks\..\..\data\models\blended_model_explainer.dill...

# Importazione del modello
Siccome l'addestramento del modello richiede molto tempo e risorse, il modello  stato salvato in un file .pkl e verr importato in questa sezione del notebook, per poi essere utilizzato per fare predizioni sul dataset di test. Inoltre pu essere importata la dashboard per visualizzare i risultati ottenuti.

In [5]:
final_model = pc.load_model("../../data/models/final_model")
pc.evaluate_model(final_model)

Transformation Pipeline and Model Successfully Loaded

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [12]:
from explainerdashboard import ExplainerDashboard
explainer_dashboard2 = ExplainerDashboard.from_config("../../data/models/blended_model_explainer.dill", "../../data/models/dashboard_config.yaml",)
explainer_dashboard2.run(port=5500)

Building ExplainerDashboard..
For this type of model and model_output interactions don't work, so setting shap_interaction=False...
The explainer object has no decision_trees property. so setting decision_trees=False...
Generating layout...
Calculating dependencies...
Reminder: you can store the explainer (including calculated dependencies) with explainer.dump('explainer.joblib') and reload with e.g. ClassifierExplainer.from_file('explainer.joblib')
Registering callbacks...
Starting ExplainerDashboard on http://192.168.188.168:5500
You can terminate the dashboard with ExplainerDashboard.terminate(5500)

Dash app running on http://127.0.0.1:5500/